* text=auto

*.svgz binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.jxl binary
*.ico binary
*.tif binary
*.tiff binary
*.qoi binary
*.bmp binary
*.gif binary
*.heic binary
*.heif binary
